

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.body {
  background:#fff url("../background.jpg") no-repeat center center fixed;
  color: #fff;
  height: 650px;
  width: 100%;
  text-align: center;
  background-size: cover; 
  padding-top: 15%;
}

.form-main {
  text-align: center;
  margin: 10px 20px 30px;
}
